click==8.1.7
google-cloud-aiplatform==1.62.0
jira==3.6.0
python-gitlab==4.4.0
langchain==0.2.14
langchain-community==0.2.1
langchain-google-community==1.0.6
langchain-google-vertexai==1.0.4
atlassian-python-api==3.41.10
chromadb==0.5.0

gitdb==4.0.11
GitPython==3.1.43

google-cloud-secret-manager==2.20.2
google-crc32c==1.5.0

rich==13.7.1
json-repair==0.23.1
